* {
    font-family: "JetBrainsMono Nerd Font, monospace, sans-serif";
    font-weight: bold;
    font-size: 16px;
}

window#waybar {
    border-radius: 16px;
    background: #0F0F0F;
    color: #93B1A6;
}

tooltip {
    background: #0F0F0F;
    border-radius: 16px;
}

tooltip label {
    color: #93B1A6;
}

#workspaces {
    border-radius: 28px;
    margin: 4px 0 4px 14px;
    background-color: rgba(255, 255, 255, 0.08);
}

#workspaces button {
    min-width: 28px;
    border-radius: 20px;
    margin: 8px 0;
}

#workspaces button:not(:last-child) {
    margin-right: 4px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.08);
}

#workspaces button.active,
#workspaces button.active:hover {
    background: #5C8374;
    color: #0F0F0F;
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#backlight {
    padding: 0px 14px;
    background-color: rgba(255, 255, 255, 0.08);
}

#tray {
    padding: 0px 16px;
}

#network {
    border-radius: 28px 0 0 28px;
    padding-left: 24px;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#temperature.critical {
    color: red;
}

#clock {
    padding-right: 16px;
    border-radius: 0 16px 16px 0;
}